@primary-color: #05316D;
@bg-color: #0F4FA8;
@layout-header-background: @bg-color;
@menu-dark-item-active-bg: lighten(@bg-color, 15%);
@link-color: darken(@primary-color, 5%);
@font-family: "Droid Sans", "Arial", sans;
