{
  "presets": [
    "@babel/preset-env",
    // "@babel/preset-react",
    "@babel/react",
    // "stage-3",
  ],
  "plugins": [
    "transform-class-properties",
    "@babel/plugin-syntax-jsx",
    // ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": true }]
  ]
}